<div class="flex w-full p-6 px-24">
  <!-- Body section -->
  <div class="flex w-[600px] flex-col items-center gap-3">
    <!-- Email  -->
    <div class="contact-box">
      <p class="contact-label">Email</p>
      <p class="text-base">ap.ananta.poudel@gmail.com</p>
    </div>

    <!-- Phone  -->
    <div class="contact-box">
      <p class="contact-label">Phone</p>
      <p class="text-base">{{ contactNo }}</p>
    </div>

    <!-- Address  -->
    <div class="contact-box">
      <p class="contact-label">Address</p>
      <p class="text-base">{{ address }}</p>
    </div>

    <!-- Status  -->
    <div class="contact-box">
      <p class="contact-label">Status</p>
      <div class="status-box">
        <span class="font-medium">Open to Work</span>
        <p class="status-dot"></p>
      </div>
    </div>
  </div>
</div>
