<div class="flex flex-col w-full p-6 pt-9 px-24 gap-8">
  <!-- Introductions -->
  <div class="flex flex-col w-full gap-3 pt-1">
    <!-- Title section -->
    <div class="flex items-center gap-2 cursor-pointer flex-col">
      <p class="text-justify text-[15px] text-gray-500">
        With four years of software engineering experience in .NET and Angular,
        I aim to contribute to innovative projects and advance professionally.
        My expertise includes .NET Core, C#, Angular, SQL, and strong
        interpersonal skills such as leadership and problem-solving. I'm now
        seeking challenging software engineering opportunities to continue my
        career growth.
      </p>
    </div>
  </div>

  <!-- Web Development Section -->
  <div class="flex flex-col w-full gap-3">
    <!-- Title section -->
    <div class="flex items-center gap-6 cursor-pointer">
      <h2 class="text-xl font-medium">Web development</h2>
      <span class="material-symbols-outlined text-black">east</span>
    </div>

    <!-- Body section -->
    <div class="flex items-center gap-3 flex-wrap">
      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/khatapana.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          Khatapana | Simplest way to manage your money!
        </h3>
        <p class="text-xs text-blue-500 -my-2 font-medium">#Freelancing</p>
        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>

      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/technepal.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          Tech Nepal | Website for tech learner and enthusiast
        </h3>
        <p class="text-xs text-blue-500 -my-2 font-medium">#Personal</p>
        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>

      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/kgarney.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          Kgarney | Web-app that uses firebase tools for hosting
        </h3>
        <p class="text-xs text-blue-500 -my-2 font-medium">#Freelancing</p>
        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>

      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/generate.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          Generate | Tried to implement clone of canva functioning
        </h3>
        <p class="text-xs text-blue-500 -my-2 font-medium">#Personal</p>
        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>

      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/izy.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          IZY | Simplest way to manage your money!
        </h3>
        <p class="text-xs text-blue-500 -my-2 font-medium">
          #Resimator #Company
        </p>
        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>
    </div>
  </div>

  <!-- App Development Section -->
  <div class="flex flex-col w-full gap-3">
    <!-- Title section -->
    <div class="flex items-center gap-6 cursor-pointer">
      <h2 class="text-xl font-medium">App development</h2>
      <span class="material-symbols-outlined text-black">east</span>
    </div>

    <!-- Body section -->
    <div class="flex items-center gap-3 flex-wrap">
      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/khatapana.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          Khatapana | Simplest way to manage your money!
        </h3>

        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>

      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/technepal.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          Tech Nepal | Website for tech learner and enthusiast
        </h3>

        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>

      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/kgarney.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          Kgarney | Web-app that uses firebase tools for hosting
        </h3>

        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>

      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/generate.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          Generate | Tried to implement clone of canva functioning
        </h3>

        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>

      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/izy.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          IZY | Simplest way to manage your money!
        </h3>

        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>
    </div>
  </div>

  <!-- Graphics Section -->
  <div class="flex flex-col w-full gap-3">
    <!-- Title section -->
    <div class="flex items-center gap-6 cursor-pointer">
      <h2 class="text-xl font-medium">Graphics</h2>
      <span class="material-symbols-outlined text-black">east</span>
    </div>

    <!-- Body section -->
    <div class="flex items-center gap-3 flex-wrap">
      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/foreveryng.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          FOREVERYNG | Nepal's best Cosmetics website
        </h3>
        <p class="text-xs text-blue-500 -my-2 font-medium">
          #cosmetic #nepalibeauty
        </p>
        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>

      <!-- Cards -->
      <div class="flex flex-col gap-2 w-[200px]">
        <img
          class="w-full h-32 object-cover object-top rounded-lg"
          src="../../../../assets/khaiidim.jpg"
        />
        <h3 class="text-sm text-black font-medium">
          KHAAIDIM | Food delivery at your footstep
        </h3>
        <p class="text-xs text-blue-500 -my-2 font-medium">
          #fooddelivery #foodporn
        </p>

        <p class="text-xs flex items-center gap-2">
          6K views <span>•</span> 3 years ago
        </p>
      </div>
    </div>
  </div>
</div>
