.p-text {
  color: var(--p-text-color);
}

.section-title {
  @apply text-xl font-medium;
  color: var(--nav-title-color);
}

.section-arrow {
  color: var(--nav-title-color);
}

.development-title {
  @apply text-sm  font-medium;
  color: var(--title-color);
}

.view-more {
  background-color: var(--primary-btn-bg);
}
.view-more:hover {
  background-color: var(--primary-btn-bg-hover);
}

.card-item {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.98, 0.97);
  z-index: -10 !important;
  background-color: var(--background);
}

.card-upper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -9 !important;
  background-color: var(--background);
  background-color: var(--primary-btn-bg);
}

.card-upper:hover {
  background-color: var(--primary-btn-bg-hover);
}

.shinny {
  filter: blur(5px);
  position: absolute;
  inset: 50% -100% -100% 50%;
  border-radius: 6px;
  transition: all 300ms ease;
  background-repeat: no-repeat;
  transform-origin: 0 0;
  background-size: 100% 100%;
  z-index: -11;
  animation: MyRotate 2s infinite linear;
}

@keyframes MyRotate {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(120deg);
  }

  66% {
    transform: rotate(210deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
