.p-text {
  color: var(--p-text-color);
}

.section-title {
  @apply text-xl font-medium;
  color: var(--nav-title-color);
}

.section-arrow {
  color: var(--nav-title-color);
}

.development-title {
  @apply text-sm  font-medium;
  color: var(--title-color);
}

.view-more {
  background-color: var(--primary-btn-bg);
}
.view-more:hover {
  background-color: var(--primary-btn-bg-hover);
}

.card-item {
  background-color: var(--primary-btn-bg);
}

.card-item:hover {
  background-color: var(--primary-btn-bg-hover);
}
