<div
  class="flex flex-col w-full p-6 pt-9 px-24 gap-8 max-xl:px-5 max-lg:px-20 max-sm:px-10 fade-in-1"
>
  <!-- Introductions -->
  <div class="flex flex-col w-full gap-3 pt-1">
    <!-- Title section -->
    <div class="flex items-center gap-2 cursor-pointer flex-col">
      <p class="text-justify text-[15px] p-text">
        {{ myDescription }}
      </p>
    </div>
  </div>

  <!-- Section -->
  <div class="flex flex-col w-full gap-3" *ngFor="let section of sections">
    <!-- Title section -->
    <div class="flex items-center gap-4 cursor-pointer">
      <h2 class="section-title">{{ section.name }}</h2>
      <span
        routerLink="/showcase/1"
        class="material-symbols-outlined text-base font-bold"
      >
        fullscreen
      </span>
    </div>

    <!-- Body section -->
    <div
      class="flex items-center gap-3 gap-y-5 flex-wrap max-[500px]:items-start max-[500px]:justify-between"
    >
      <!-- Cards -->
      <a
        [href]="showcase.url"
        target="_blank"
        class="flex flex-col gap-2 w-[200px] max-xl:w-[190px] max-[500px]:w-[47%]"
        *ngFor="let showcase of section.showCases"
      >
        <img
          class="w-full h-auto object-cover object-top rounded-lg"
          [src]="showcase.image"
        />
        <h3 class="development-title">
          {{ showcase.title }}
        </h3>
        <p class="text-xs text-blue-500 -my-1 font-medium">
          {{ showcase.tags }}
        </p>
        <p class="text-xs flex items-center gap-2">
          {{ showcase.workDone }}
        </p>
        <!-- <p class="text-xs flex items-center gap-2">
          {{ showcase.workedDate | dateDifference }} ago
        </p> -->
      </a>
    </div>

    <div
      *ngIf="section.showCases.length > 5"
      class="p-2 flex gap-3 items-center px-5 view-more rounded-md w-auto cursor-pointer mt-3"
    >
      View all <span class="material-symbols-outlined text-lg">east</span>
    </div>
  </div>
</div>
