
.section-title{
    @apply text-xl font-medium;
    color: var(--nav-title-color)
}

.section-arrow{
    color: var(--nav-title-color)
}
.view-more{
    background-color: var(--primary-btn-bg);
}
.view-more:hover{
    background-color: var(--primary-btn-bg-hover);
}