<div class="flex flex-col gap-8 w-full p-6 pt-9 px-24">
  <div class="flex flex-col w-full gap-2" *ngFor="let skill of skillSets">
    <!-- Skill title -->
    <div class="flex items-center gap-6 cursor-pointer">
      <h2 class="text-lg font-medium">{{ skill.name }}</h2>
    </div>

    <!-- Sub skills -->
    <div
      class="flex items-center gap-3 text-sm"
      *ngFor="let subSkill of skill.subset"
    >
      <div class="py-2 w-40 rounded-md underline">{{ subSkill.name }}</div>
      <div class="flex items-center gap-5">
        <p *ngFor="let rootSkill of subSkill.skills">{{ rootSkill }}</p>
      </div>
    </div>
  </div>
</div>
