button{
    line-height: 36px;
    padding: 0 16px;
    min-height: 40px;
    &.primary{
        background-color: var(--primary-btn-bg);
        color: var(--primary-btn-text);
        &:hover{
            background-color: var(--primary-btn-bg-hover);
            color: var(--primary-btn-text-hover);
        }
    }
}