<div class="flex">
  <p-side-nav class="w-64 max-lg:w-auto max-lg:fixed max-lg:z-50"></p-side-nav>
  <div class="block relative w-[calc(100%-256px)] max-lg:w-[calc(100%)]">
    <p-top-nav></p-top-nav>
    <router-outlet></router-outlet>
  </div>
</div>

<div class="fixed inset-0 -z-10">
  <div class="absolute w-full h-full">
    <a
      class="bg-[var(--title-color)] cursor-pointer flex justify-center items-center opacity-5 -right-10 -top-10 absolute h-28 w-28 rounded-full animate-float"
    >
    </a>
    <a
      class="bg-[var(--title-color)] cursor-pointer flex justify-center items-center opacity-5 left-0 absolute h-12 w-12 rounded-full animate-float2"
    >
    </a>
  </div>
</div>
