<div class="flex flex-col gap-6 w-full p-6 px-24 items-center">
  <!-- Experience section -->
  <div
    *ngFor="let experience of workExperiences"
    class="flex items-center w-full border-b pb-5 pt-3 border-gray-200"
  >
    <div class="rotate-90">
      <p class="text-xs py-1 px-4 font-semibold">
        {{ experience.timeline | uppercase }}
      </p>
    </div>

    <div class="flex flex-col gap-3">
      <div class="flex flex-col">
        <p class="flex items-center gap-3">
          <span class="font-semibold text-lg">{{ experience.company }}</span>
          <a
            class="cursor-pointer hover:underline"
            [href]="experience.projectUrl"
            target="_blank"
            >{{ experience.project | uppercase }}</a
          >
        </p>

        <p class="italic text-xs">{{ experience.companySlogan }}</p>
      </div>
      <div class="pb-4 px-3 rounded-bl-xl">
        <p class="text-sm font-medium text-red-600">
          {{ experience.position }}
        </p>
        <ul class="list-disc indent-3 ml-5 pt-3 text-sm leading-normal">
          <li *ngFor="let desc of experience.workDescription">
            {{ desc }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
