<a *ngIf="showcase" class="flex flex-col gap-2 w-full cursor-pointer">
  <img
    class="w-full h-auto object-cover object-top rounded-lg hover:rounded-none transition-all duration-300"
    [src]="showcase.image"
  />
  <h3 class="development-title line-clamp-2">
    {{ showcase.title }}
  </h3>
  <p class="text-xs text-blue-500 -my-1 font-medium line-clamp-1">
    {{ showcase.tags }}
  </p>
  <p class="text-xs flex items-center gap-2 line-clamp-1">
    {{ showcase.workDone }}
  </p>
  <p class="text-[0.6rem] -mt-2 flex items-center gap-2">
    {{ showcase.workedDate | dateDifference }} ago
  </p>
</a>
