<div class="flex">
  <p-side-nav class="w-64 max-lg:w-auto max-lg:fixed max-lg:z-50"></p-side-nav>
  <div class="block w-[calc(100%-256px)] max-lg:w-[calc(100%)]">
    <div
      class="flex flex-col w-full p-6 pt-9 px-24 gap-8 max-xl:px-5 max-lg:px-20 max-sm:px-10 fade-in-1"
      *ngIf="showcase"
    >
      <a
        class="text-xs flex gap-3 items-center cursor-pointer"
        (click)="goBack()"
        ><span class="material-symbols-outlined text-lg">west</span> Go back</a
      >
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl font-medium">{{ showcase.title }}</h2>
        <p class="text-sm flex flex-wrap gap-4 items-center justify-start">
          <span class="text-[var(--exp-text-color)]">{{
            showcase.companyName
          }}</span>
          <span> ● </span>
          <span>{{ showcase.workedDate | dateDifference }} ago</span>

          <a
            class="py-[2px] px-3 border rounded-full border-red-600 flex gap-2 items-center hover:bg-red-600 hover:text-white"
            target="_blank"
            [href]="showcase.url"
          >
            <ng-container *ngIf="showcase.isPrivate">
              Private
              <span class="text-sm material-symbols-outlined">
                water_lock
              </span>
            </ng-container>
            <ng-container *ngIf="!showcase.isPrivate">
              Open Link
              <span class="text-sm material-symbols-outlined">
                open_in_new
              </span>
            </ng-container>
          </a>
        </p>

        <p class="text-xs text-blue-500">{{ showcase.tags }}</p>
      </div>

      <div class="flex gap-10 flex-row max-lg:flex-col">
        <div class="relative h-fit w-[60%] max-lg:w-[100%]">
          <img
            [src]="showcase.image"
            class="w-full rounded-md h-full shadow-lg"
          />
          <!-- Background effect -->
          <div
            [ngClass]="theme.color ? '' : showcase.bgClass"
            class="absolute top-0 -z-10 w-full h-full scale-125 animate-pulse duration-1000 right-0 rounded-md blur-3xl"
          ></div>
        </div>

        <div class="flex justify-center w-[40%] flex-col gap-3 max-lg:w-[100%]">
          <div *ngFor="let skill of showcase.skills">
            <h2 class="text-lg mb-1">{{ skill.name }}</h2>
            <span class="text-sm">{{ skill.list.join("  |  ") }}</span>
          </div>
        </div>
      </div>

      <p>{{ showcase.subtitle }}</p>

      <div class="flex gap-4 flex-col">
        <p
          class="even:-mx-4 even:p-4 even:border even:rounded-md border-[var(--border-color)] even:bg-[var(--side-nav-bg)] even:text-[var(--nav-title-color)]"
          *ngFor="let item of showcase.body; let i = index"
        >
          {{ item }}
        </p>
      </div>

      <div>
        <h2 class="text-lg mb-1">My Responsibilities</h2>
        <ul class="list-inside list-disc">
          <li
            *ngFor="let item of showcase.responsibilities"
            class="flex items-start space-x-2"
          >
            <span class="flex-shrink-0">&#8226;</span>
            <span>{{ item }}</span>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-lg mb-1">Learning outcomes</h2>
        <ul class="list-inside list-disc">
          <li
            *ngFor="let item of showcase.learningOutcomes"
            class="flex items-start space-x-2"
          >
            <span class="flex-shrink-0">&#8226;</span>
            <span>{{ item }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
