<div class="flex">
  <p-side-nav class="w-64 max-lg:w-auto max-lg:fixed max-lg:z-50"></p-side-nav>
  <div class="block relative w-[calc(100%-256px)] max-lg:w-[calc(100%)]">
    <div
      class="flex flex-col w-full p-6 pt-9 px-24 gap-8 max-xl:px-5 max-lg:px-20 max-sm:px-10 fade-in-1"
      *ngIf="showcase"
    >
      <a
        class="text-xs flex gap-3 items-center cursor-pointer"
        (click)="goBack()"
        ><span class="material-symbols-outlined text-lg">west</span> Go back</a
      >
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl font-medium">{{ showcase.title }}</h2>
        <p class="text-sm flex flex-wrap gap-4 items-center justify-start">
          <span class="text-[var(--exp-text-color)]">{{
            showcase.companyName
          }}</span>
          <span> ● </span>
          <span>{{ showcase.workedDate | dateDifference }} ago</span>

          <a
            class="py-[2px] px-3 border rounded-full border-red-600 flex gap-2 items-center hover:bg-red-600 hover:text-white"
            target="_blank"
            [href]="showcase.url"
          >
            <ng-container *ngIf="showcase.isPrivate">
              Private
              <span class="text-sm material-symbols-outlined">
                water_lock
              </span>
            </ng-container>
            <ng-container *ngIf="!showcase.isPrivate">
              Open Link
              <span class="text-sm material-symbols-outlined">
                open_in_new
              </span>
            </ng-container>
          </a>
        </p>

        <p class="text-xs text-blue-500">{{ showcase.tags }}</p>
      </div>

      <div class="flex gap-10 flex-row max-lg:flex-col">
        <img
          [src]="showcase.image"
          class="w-[55%] h-fit rounded-md max-lg:w-[100%]"
        />

        <div class="flex justify-center flex-col gap-3">
          <div *ngFor="let skill of showcase.skills">
            <h2 class="text-lg mb-1">{{ skill.name }}</h2>
            <span class="text-sm">{{ skill.list.join("  |  ") }}</span>
          </div>
        </div>
      </div>

      <p>{{ showcase.subtitle }}</p>

      <div class="text-justify flex gap-4 flex-col">
        <p
          class="even:p-4 even:border even:rounded-md border-[var(--border-color)] even:bg-[var(--border-color)] even:text-[var(--nav-title-color)]"
          *ngFor="let item of showcase.body; let i = index"
        >
          {{ item }}
        </p>
      </div>

      <div>
        <h2 class="text-lg mb-1">My Responsibilities</h2>
        <ul class="list-inside list-disc">
          <li *ngFor="let item of showcase.responsibilities">{{ item }}</li>
        </ul>
      </div>

      <div>
        <h2 class="text-lg mb-1">Learning outcomes</h2>
        <ul class="list-inside list-disc">
          <li *ngFor="let item of showcase.learningOutcomes">{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
