<div
  class="flex w-full p-10 max-[800px]:pb-4 px-24 gap-10 max-xl:px-5 max-lg:px-20 max-sm:px-8 max-sm:pl-10 fade-in-1"
>
  <!-- Title and Descriptions -->
  <div class="flex flex-col w-auto gap-5 max-sm:mt-10">
    <div class="flex gap-4 items-center">
      <!-- For mobile screen profile image -->
      <img
        class="rounded-full w-18 h-16 hover:grayscale-[40%] cursor-pointer max-sm:flex"
        [src]="profile.profilePicSmall"
      />
      <div class="flex flex-col">
        <h1 class="text-5xl max-sm:text-4xl font-semibold">
          {{ profile.name }}
        </h1>
        <a href="mailto:{{ profile.email }}" class="flex items-center gap-1">
          {{ profile.designation }}
          <span class="material-symbols-outlined text-sm">distance</span>
          {{ profile.location }}</a
        >
      </div>
    </div>

    <div class="flex gap-2 flex-wrap">
      <a href="mailto:{{ profile.email }}"
        ><p-button>
          <span class="material-symbols-outlined text-sm">alternate_email</span>
          {{ profile.email }}</p-button
        ></a
      >
      <p-button (click)="downloadResume()" class="flex items-center"
        ><span class="material-symbols-outlined text-base"> download </span
        >Download Resume</p-button
      >
    </div>

    <!-- Theme toogle section -->
    <div
      class="max-[800px]:flex hidden items-center gap-2 px-3 cursor-pointer rounded-full"
    >
      <ng-container *ngFor="let theme of themeSetting">
        <div
          *ngIf="theme.name !== 'shuffle' || !themeService.color"
          (click)="
            themeService.changeTheme(theme.name, theme.name === 'shuffle')
          "
          [ngClass]="{
            'active-item fill': theme.name === themeService.theme,
            
          }"
          class="material-symbols-outlined text-base text-gray-400"
        >
          {{ theme.icon }}
        </div>

        <div
          (click)="
            themeService.changeTheme(theme.name, theme.name === 'shuffle')
          "
          *ngIf="theme.name == 'shuffle' && themeService.color"
          class="transition-all duration-300 select-none h-5 flex items-center gap-1 w-14 pr-1 bg-white rounded-full"
        >
          <div
            class="h-full w-10 transition-all duration-300 bg-[var(--exp-text-color)] rounded-full"
          ></div>
          <span class="material-symbols-outlined text-base text-gray-400"
            >shuffle</span
          >
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Top Navigation bar -->
<div class="top-nav fade-in-1">
  <a
    *ngFor="let menu of topMenus"
    (click)="changeMenu(menu.value)"
    [routerLink]="menu.value"
    [ngClass]="{
      'top-nav-inactive-item': menu.value != currentMenu,
      'top-nav-active-item': menu.value === currentMenu
    }"
    [routerLinkActive]="'top-nav-active-item'"
    class="py-3 px-1 mx-2 font-medium cursor-pointer first:px-0 first:ml-0"
  >
    {{ menu.label }}
  </a>

  <!-- Theme toogle section -->
  <div class="theme-toggler flex max-[800px]:hidden">
    <ng-container *ngFor="let theme of themeSetting">
      <span
        *ngIf="theme.name !== 'shuffle' || !themeService.color"
        (click)="themeService.changeTheme(theme.name, theme.name === 'shuffle')"
        [ngClass]="{
          'active-item fill': theme.name === themeService.theme
        }"
        class="select-none material-symbols-outlined text-gray-400"
      >
        {{ theme.icon }}
      </span>

      <div
        (click)="themeService.changeTheme(theme.name, theme.name === 'shuffle')"
        *ngIf="theme.name == 'shuffle' && themeService.color"
        class="transition-all duration-300 select-none h-7 flex items-center gap-2 w-20 pr-2 bg-white rounded-full"
      >
        <div
          class="h-full w-16 transition-all duration-300 bg-[var(--exp-text-color)] rounded-full"
        ></div>
        <span class="material-symbols-outlined text-gray-400">shuffle</span>
      </div>
    </ng-container>
  </div>
</div>
