<div class="flex w-full p-6 px-24 gap-5">
  <!-- Profile Image -->
  <img
    class="rounded-full w-40 h-40 hover:grayscale-[40%] cursor-pointer"
    src="./../../../assets/images/mypic.jpg"
  />

  <!-- Title and Descriptions -->
  <div class="flex flex-col">
    <h1 class="text-4xl font-semibold leading-[3rem] mb-1">Ananta Poudel</h1>
    <p class="text-sm">
      <span>ap.ananta.poudel@gmail.com </span>
      <span class="px-2">*</span>
      <span>senior software engineer</span>
      <span class="px-2">*</span>
      <span>works remotely</span>
    </p>
    <p
      class="py-3 text-sm cursor-pointer items-center flex gap-2"
      routerLink="/about"
    >
      I am a Software developer, with a hobby of graphic designing. I am
      experienced with graphic....
      <span class="material-symbols-outlined text-sm">chevron_right</span>
    </p>
    <div class="flex gap-2 py-2">
      <p-button>Customize channel</p-button>
      <p-button>Manage videos</p-button>
    </div>
  </div>
</div>

<!-- Top Navigation bar -->
<div class="top-nav">
  <a
    *ngFor="let menu of topMenus"
    (click)="changeMenu(menu.value)"
    [routerLink]="menu.value"
    [ngClass]="{
      'top-nav-inactive-item': menu.value != currentMenu,
      'top-nav-active-item': menu.value === currentMenu
    }"
    class="py-3 px-1 mx-2 font-medium cursor-pointer first:px-0 first:ml-0"
  >
    {{ menu.label }}
  </a>

  <!-- Theme toogle section -->
  <div
    class="flex items-center gap-2 px-3 cursor-pointer bg-gray-100 rounded-full scale-[0.65]"
  >
    <span
      *ngFor="let theme of themeSetting"
      (click)="themeService.changeTheme(theme.name)"
      [ngClass]="{ '!text-black fill': theme.name === themeService.theme }"
      class="material-symbols-outlined text-gray-400"
    >
      {{ theme.icon }}
    </span>
  </div>
</div>
