<div
  class="flex w-full p-6 px-24 gap-5 max-xl:px-5 max-lg:px-20 max-sm:px-8 max-sm:pl-10 fade-in-1"
>
  <!-- Profile Image -->
  <div class="relative w-40 h-40 cursor-pointer max-sm:hidden group">
    <div
      style="
        background: linear-gradient(to top right, #d42626 50%, #185bae 50%);
      "
      class="absolute -top-[5%] -left-[5%] bg-opacity-20 rounded-full -z-10 w-[110%] h-[110%] transition-transform duration-1000 ease-in-out group-hover:rotate-180 group-hover:animate-pulse"
    ></div>
    <img
      class="rounded-full w-full h-full object-cover"
      src="./../../../assets/images/profile.jpeg"
    />
  </div>

  <!-- Title and Descriptions -->
  <div class="flex flex-col w-auto max-sm:mt-10">
    <div class="flex gap-4 items-center">
      <!-- For mobile screen profile image -->
      <img
        class="hidden rounded-full w-10 h-10 hover:grayscale-[40%] cursor-pointer max-sm:flex"
        src="./../../../assets/images/profile-small.jpeg"
      />
      <h1 class="text-4xl font-semibold leading-[3rem] mb-1">Ananta Poudel</h1>
    </div>
    <p class="text-sm">
      <span>ap.ananta.poudel@gmail.com </span>
      <span class="px-2">*</span>
      <span>senior software engineer</span>
      <span class="px-2">*</span>
      <span>works remotely</span>
    </p>
    <p
      class="py-3 text-sm cursor-pointer items-center flex gap-2"
      routerLink="/about"
    >
      I am a Software engineer, with a hobby of graphic designing and User
      inteface ...
      <span class="material-symbols-outlined text-sm">chevron_right</span>
    </p>
    <div class="flex gap-2 py-2 flex-wrap items-center">
      <p-button routerLink="contact">Contact info</p-button>
      <a href="mailto:ap.ananta.poudel@gmail.com"
        ><p-button [title]="'Send me an email'">
          <span class="material-symbols-outlined">
            outgoing_mail
          </span></p-button
        ></a
      >
      <p-button
        (click)="downloadResume()"
        [title]="'Dowload my resume'"
        class="flex items-center"
        ><span class="material-symbols-outlined"> download </span></p-button
      >
      <!-- Theme toogle section -->
      <div
        class="max-[800px]:flex hidden items-center gap-2 px-3 !h-[40px] py-[11px] cursor-pointer rounded-full bg-[var(--border-color)]"
      >
        <span
          *ngFor="let theme of themeSetting"
          (click)="themeService.changeTheme(theme.name)"
          [ngClass]="{ 'active-item fill': theme.name === themeService.theme }"
          class="material-symbols-outlined text-base text-gray-400"
        >
          {{ theme.icon }}
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Top Navigation bar -->
<div class="top-nav fade-in-1">
  <a
    *ngFor="let menu of topMenus"
    (click)="changeMenu(menu.value)"
    [routerLink]="menu.value"
    [ngClass]="{
      'top-nav-inactive-item': menu.value != currentMenu,
      'top-nav-active-item': menu.value === currentMenu
    }"
    [routerLinkActive]="'top-nav-active-item'"
    class="py-3 px-1 mx-2 font-medium cursor-pointer first:px-0 first:ml-0"
  >
    {{ menu.label }}
  </a>

  <!-- Theme toogle section -->
  <div class="theme-toggler flex max-[800px]:hidden">
    <span
      *ngFor="let theme of themeSetting"
      (click)="themeService.changeTheme(theme.name)"
      [ngClass]="{ 'active-item fill': theme.name === themeService.theme }"
      class="material-symbols-outlined text-gray-400"
    >
      {{ theme.icon }}
    </span>
  </div>
</div>
