:root{

    // Light theme colors

    // Texts
    --background:white;
    --text-color:#606060;
    --title-color:#0f0f0f;
    --nav-title-color:#3d3d3d;
    --p-text-color:#747474;

    //Border
    --border-color:#e5e7eb;

    //Buttons
    --primary-btn-bg:#0000000d;
    --primary-btn-bg-hover:#00000022;
    --primary-btn-text:#0f0f0f;
    --primary-btn-text-hover:#0f0f0f;

    //Music Player
    --audio-player-background:#0000000d;
    --volume-slider-background:#bfbfbf;
    --volume-percentage-background:#0000000d;

    // //Side Navigation Menu
    --side-nav-button-text-hover-active:black;
    --side-nav-button-bg:transparent;
    --side-nav-button-bg-hover:#0000000d;
    --side-nav-button-bg-active:#0000000d;

    // Dark theme colors
    .dark{

        //Texts
        --background:#0f0f0f;
        --text-color:#aaa;
        --title-color:#fff;
        --nav-title-color:#ffffffd9;
        --p-text-color:#bfbfbf;

        //Border
        --border-color:#373737;

        //Buttons
        --primary-btn-bg:#60606054;
        --primary-btn-bg-hover:#ffffff31;
        --primary-btn-text:#fff;
        --primary-btn-text-hover:#fff;

        //Music Player
        --audio-player-background:#60606054;
        --volume-slider-background:#bfbfbf;
        --volume-percentage-background:#211f1f71;

        //Side Navigation Menu
        --side-nav-button-text-hover-active:#fff;
        --side-nav-button-bg:transparent;
        --side-nav-button-bg-hover:#60606054;
        --side-nav-button-bg-active:#60606054;
    }
}